.AddAuthorButton{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    left: 0;
    margin-top: 10px;
    bottom: 0;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color:cornflowerblue;
}

.AddAuthorButton:hover{
    transform: scale(1.05);
}
