.LeftSideBar{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 11%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color:rgb(110, 110, 110);
    flex-direction: column;
}

.ProfileAvatar{
    top: 30px;
    margin-top: 45%;
    scale: 300%;
}

.UserLogin{
    display: flex;
    font-family: "Roboto Condensed";
    font-size: 25px;
    margin-top: 30%;
}

.AdminButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
