.BookCard{
    display: flex;
    margin-top: 70px;
    width: 30vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.HomePage{
    display: flex;
    justify-content: center;
    align-items: center;
}
